<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<%-include('../includes/header')%>
		<div id="content">
			<div id="board">
				<form id="search_form" action="/board" method="post">
					<select name="looking_for">
					    <option value="title_contents" <%- ('title_contents' === looking_for ? "selected" : "" ) %>>제목+내용</option>
					    <option value="title"  <%- ('title' === looking_for ? "selected" : "" ) %>>제목</option>
					    <option value="contents"  <%- ('contents' === looking_for ? "selected" : "" ) %>>내용</option>
					    <option value="writer"  <%- ('writer' === looking_for ? "selected" : "" ) %>>작성자</option>
					</select>
					<% if(locals.kwd) { %>
						<input type="text" id="kwd" name="kwd" value="<%=kwd %>">
					<% } else { %>
						<input type="text" id="kwd" name="kwd" value="">
					<% } %>
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th style="text-align:left">제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					<% 
					list.forEach((vo, idx)=>{ 
					%>
					<tr>
						<td><%= size - idx - 5*(pageInfo.currentPageNo-1)%></td>
						<% if(vo.depth == 0){ %>
							<td style="text-align:left; padding-left:0px"><a href="/board/view/<%=vo.no %>"><%=vo.title %></a></td>
						<% } else { %>
							<td style="text-align:left; padding-left:<%=vo.depth*15 %>px"><img src="/assets/images/reply.png"><a href="/board/view/<%=vo.no %>"><%=vo.title %></a></td>
						<% } %>
						<td><%=vo.User.name %></td> <!-- user name -->
						<td><%=vo.hit %></td>
						<td><%=vo.reg_date %></td>
						<td>
							<% if( req.session.authUser && req.session.authUser.no === vo.user_no){ %>
								<a href="/board/delete/<%=vo.no %>?p=<%=pageInfo.currentPageNo%>&kwd=<%=(locals.kwd ? kwd : '') %>&looking_for=<%=looking_for%>" style='background-image:url("/assets/images/recycle.png")' class="del">삭제</a>
							<% } %>
						</td>
					</tr>
					<% }) %>
				</table>
						
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<% if(pageInfo.firstPageNo !== 1) { %>
							<li><a href="/board?p=<%=pageInfo.prevPageNo %>&kwd=<%=(locals.kwd ? kwd : '') %>&looking_for=<%=looking_for%>">◀</a></li>
						<% } %>
						<% for(let i = pageInfo.firstPageNo;i<=pageInfo.lastPageNo;i++) { %>
							<li <%- (i === pageInfo.currentPageNo ? 'class="selected"' : '' ) %> >
								<% if(i > pageInfo.totalPage){ %>
									<%=i %>
								<% } else { %>
									<a href="/board?p=<%=i %>&kwd=<%=(locals.kwd ? kwd : '') %>&looking_for=<%=looking_for%>"><%=i %></a>
								<% } %>		
							</li>
						<% } %>
						<% if(pageInfo.lastPageNo < pageInfo.totalPage){ %>
							<li><a href="/board?p=<%=pageInfo.nextPageNo %>&kwd=<%=(locals.kwd ? kwd : '') %>&looking_for=<%=looking_for%>">▶</a></li>
						<% } %>
					</ul>
				</div>
				
				<div class="bottom">
					<% if(req.session.authUser){ %>
						<a href="/board/write" id="new-book">글쓰기</a>
					<% } %>
				</div>
			</div>
		</div>
		<%-include('../includes/navigation')%>
		<%-include('../includes/footer')%>
	</div>
</body>
</html>